//Jquery
script(src="js/jquery-3.3.1.min.js")

//Bootstrap 
script(src="js/bootstrap.bundle.min.js")
script(src="js/popper.min.js")

//HTML5 scripts 
script(src="js/html5shiv.min.js")
script(src="js/respond.min.js")


//my Js file
script(src="js/main.js")
