- var pageTitle = 'Homepage';
<!DOCTYPE html>
html(lang="en")
    head
        include pug/layout/meta
        include pug/layout/fonts
        include pug/layout/styles
    body
        include pug/components/navbar
        include pug/components/definition
        include pug/components/shorten
        include pug/components/active
        include pug/components/boost
        include pug/components/footer

        include pug/layout/scripts
        