section.active
    .container
        h2
            |Active statistics
        p
            |Track how your links are performing across the web with 
            br
            |our advanced statistics dashboard
        .features
            .line
            .row
                .col-lg-4.col-xs-12.featurecontainer
                    .feature.featureOne
                        .circle
                            img(src="images/icon-brand-recognition.svg" alt="icon-brand-recognition")
                        .featureDetails
                            h6
                                |Brand recognition
                            p
                                |Boost your brand recognition ,Boost your brand recognition Boost your brand recognition Boost your brand recognition Boost your brand recognition
                .col-lg-4.col-xs-12.featurecontainer
                    .feature.featureTwo
                        .circle
                            img(src="images/icon-detailed-records.svg" alt="icon-detailed-records")
                        .featureDetails
                            h6
                                |Brand recognition
                            p
                                |Boost your brand recognition ,Boost your brand recognition Boost your brand recognition Boost your brand recognition Boost your brand recognition
                .col-lg-4.col-xs-12.featurecontainer
                    .feature.featureThree
                        .circle
                            img(src="images/icon-fully-customizable.svg" alt="icon-fully-customizable")
                        .featureDetails
                            h6
                                |Brand recognition
                            p
                                |Boost your brand recognition ,Boost your brand recognition Boost your brand recognition Boost your brand recognition Boost your brand recognition
            
