section.definitionDiv
    .container
        .row
            .col-xl-6.col-xs-12
                img(src="images/illustration-working.svg", alt="illustration-working")
            .col-xl-6.col-xs-12
                h1 More than just shorter links
                p Build your brand's recogntion and get detailed insights on how your links are performed   
                button.startbtn Get started