footer
    .container
        .row
            .col-lg-4.col-xs-12
                h1 Shorlty
            .col-lg-2.col-xs-12 
                h4 Features
                a(href="#") Link shortining
                a(href="#") Branded links
                a(href="#") Analytics
            .col-lg-2.col-xs-12
                h4 Resources
                a(href="#") Blog
                a(href="#") Developers
                a(href="#") Support
            .col-lg-2.col-xs-12
                h4 Company
                a(href="#") About
                a(href="#") Our team
                a(href="#") Careers
                a(href="#") Contacts
            .col-lg-2.col-xs-12.socialLinks
                a(href="#")
                    img.img-fluid(src="images/icon-facebook.svg", alt="icon-facebook icon")
                a(href="#")
                    img(src="images/icon-pinterest.svg", alt="icon-pinterest")
                a(href="#")
                    img(src="images/icon-twitter.svg", alt="icon-twitter")
                a(href="#")
                    img(src="images/icon-instagram.svg", alt="icon-instagram")
