nav.navbar.navbar-expand-lg
  .container
    a.navbar-brand(href='#')
      img(src="images/logo.svg" alt="logo")
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
      img.img-fluid(src="images/bars-solid.svg", alt="bars-solid")
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li.nav-item
          a.nav-link(href='#')
            | Features
        li.nav-item
          a.nav-link(href='#')
            |Pricing
        li.nav-item
          a.nav-link(href='#')
            |Resources
      ul.navbar-nav 
        li.nav-item
          button.login(type="button")|Login          
        li.nav-item
          button.signUp(type="button")|Sign up