section.shortenDiv 
    .container   
        .shortenBox
            .overlay
                .row
                    .col-lg-9.col-xs-12
                        input.shortenInput(type="text" placeholder="Shorten a link here .." required)
                    .col-lg-3.col-xs-12
                            button Shorten it !